@model List<ZeroHunger.DTOs.CollectRequestDTO>

@{
    ViewBag.Title = "All Requests";
}
<p>
    @Html.ActionLink("Logout", "Logout")

</p>

<h2>All Requests</h2>
@Html.ActionLink("Request for food Delivery", "RequestForFoodDelivery", "Admin", null, new { @class = "btn btn-success" })
@Html.ActionLink("Manage User", "Index", "Users", null, new { @class = "btn btn-success" })




    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Request ID</th>
                    <th>Max Preserve Time</th>
                    <th>Status</th>
                    <th>Collection Address</th>
                    <th>Show items</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@request.RequestID</td>
                        <td>@request.MaxPreserveTime</td>
                        <td>@request.Status</td>
                        <td>@request.CollectionAddress</td>
                        <td>@request.CollectionAddress</td>
                        <td>
                            <a href="@Url.Action("FoodItems", "Admin", new { requestId = request.RequestID })" class="btn btn-info">Show Food Items</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }


else
{
    <p>No requests available.</p>
}

