@model ZeroHunger.DTOs.CollectRequestDTO

@{
    ViewBag.Title = "Item Details";
}


<br />
@Html.ActionLink("Deshboard", "Deshboard", null, new { @class = "btn btn-warning" })
<br />
@Html.ActionLink("Logout", "Logout", null, new { @class = "btn btn-primary", style = "margin-top: 5px;" })

<h2>Collected Item Details</h2>

@if (Model.CollectRequestsFooditems != null && Model.CollectRequestsFooditems.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Expiry Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CollectRequestsFooditems)
            {
                <tr>

                    <td>@item.ItemName</td>
                    <td>@item.Quantity</td>
                    <td>@item.ExpiryDate</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No items have been added yet.</p>
}

<!-- Confirm request button -->

@if (Model.CollectRequestsFooditems != null && Model.CollectRequestsFooditems.Any())
{

    <a href="@Url.Action("ConfirmRequest", "Restaurant")" class="btn btn-success">Confirm Request</a>
}


<a href="@Url.Action("AddItem", "Restaurant")" class="btn btn-primary">Back to AddItem</a>
